
body {
    background-color: rgb(0, 0, 0);
    color: greenyellow;
}

hr {
    border-color: #777;
    margin: 10px 0;
}

.container-fluid {
    /* border: 2px solid red; */
    /* width: 100%; */
    /*padding: 2px 10px 40px 10px; */
}

.montitre {
    margin: .5em 0;
    padding: 1em 1.5em .5em;
    text-shadow: 0 0 10px yellow;
    background-color: #111;
    border: 3px solid orange;
    border-radius: 7px;
}

.main {
    margin-top: 15px;
}

footer {
    background-color: #111;
    border-top: 1px solid grey;
    color: grey;
    position: fixed;
    left: 0;
    bottom: 4px;
    width: 100%;
    /* margin-top: 100px; */
    margin-bottom: 0!important;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 2px;
    font-size: 0.9em;
}

footer .col:first-child {
    text-align: left;
}

footer .col:last-child {
    padding-top: 0;
    text-align: right;
}

/* ToDoLi Ajout police Quarz */
#affHeure {
    height: 23px;
    line-height: 0.8;
    border-radius: 4px;
    padding-bottom: 2px;
    margin-top: 3px;
    background-color: #777;
    border-color: #333;
}

pre {
    color: #333;
    font-size: .9em;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
}

@media screen and (min-width: 720px) and (max-width:730px) {
    body {
        background-color: rgb(41, 5, 5);
    }
}

.nav-item.dropdown:hover>.dropdown-menu {
    display: block;
}

.text-center {
    text-align: center;
}
.etroit {
    padding-top: 3px;
    vertical-align: middle;
    flex-grow: 0;
}

.droite {
    text-align: right;
}